In [4]:
import pandas as pd

In [9]:
my_series=pd.Series([2,1,6,1,2,6,1,8,3,2],index=["a","b","c","d","e","f","g","h","j","k"])

In [10]:
my_series

a    2
b    1
c    6
d    1
e    2
f    6
g    1
h    8
j    3
k    2
dtype: int64

In [15]:
my_series[my_series>4]=my_series[my_series>4]*3

In [18]:
my_series['a']

np.int64(2)

In [16]:
my_series

a     2
b     1
c    18
d     1
e     2
f    18
g     1
h    24
j     3
k     2
dtype: int64

In [37]:
data=pd.DataFrame({
    'contry':["Russia","Kazakhstan","Belarus"],
    'population':[144,17,9.5],
    'capital':["Moscow","Astana","Minsk"]

}
,index=["RU","RZ","BY"]

)

In [38]:
data

        contry  population capital
RU      Russia       144.0  Moscow
RZ  Kazakhstan        17.0  Astana
BY     Belarus         9.5   Minsk

In [39]:
data.loc["RU"]

contry        Russia
population     144.0
capital       Moscow
Name: RU, dtype: object

In [40]:
data.iloc[1]

contry        Kazakhstan
population          17.0
capital           Astana
Name: RZ, dtype: object

In [41]:
data.index

Index(['RU', 'RZ', 'BY'], dtype='object')

In [42]:
data.loc[["RU","RZ"]]

        contry  population capital
RU      Russia       144.0  Moscow
RZ  Kazakhstan        17.0  Astana

In [43]:
data.loc[["RU","RZ"],"capital"]

RU    Moscow
RZ    Astana
Name: capital, dtype: object

In [47]:
data["size"]=[17,2.7,0.2]

In [48]:
data

        contry  population capital  size
RU      Russia       144.0  Moscow  17.0
RZ  Kazakhstan        17.0  Astana   2.7
BY     Belarus         9.5   Minsk   0.2

In [56]:
data["population_per_million"]=data.population/data.size

In [58]:
data.drop(["population_per_million"],axis="columns",inplace=True)

In [55]:
data

        contry  population capital  size
RU      Russia       144.0  Moscow  17.0
RZ  Kazakhstan        17.0  Astana   2.7
BY     Belarus         9.5   Minsk   0.2

In [60]:
data.drop(["RZ"],inplace=True)

In [61]:
data

     contry  population capital  size
RU   Russia       144.0  Moscow  17.0
BY  Belarus         9.5   Minsk   0.2

In [46]:
data[data.population>10].population

RU    144.0
RZ     17.0
Name: population, dtype: float64

In [22]:
data['contry']

0        Russia
1    Kazakhstan
2       Belarus
Name: contry, dtype: object

In [62]:
titanic=pd.read_csv("/content/Titanic-Dataset.xls")

In [64]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [66]:
titanic.shape

(891, 12)

In [67]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [68]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [72]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [73]:
titanic=titanic.drop(["Cabin"],axis="columns")

In [96]:
titanic.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [79]:
titanic["Age"]=titanic["Age"].fillna(titanic["Age"].median())

In [87]:
titanic["Embarked"].fillna(titanic["Embarked"].mode())

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [94]:
titanic["Embarked"]=titanic["Embarked"].fillna(titanic["Embarked"].value_counts().idxmax())

In [99]:
titanic.groupby(["Sex","Survived"])

In [104]:
titanic.groupby(["Sex","Survived"])["PassengerId"].count()

Sex     Survived
female  0            81
        1           233
male    0           468
        1           109
Name: PassengerId, dtype: int64

In [105]:
titanic.groupby(["Pclass","Survived"])["PassengerId"].count()

Pclass  Survived
1       0            80
        1           136
2       0            97
        1            87
3       0           372
        1           119
Name: PassengerId, dtype: int64

In [108]:
titanic.to_excel("/content/Titanic-Dataset-worked.xlsx",index=False)